<script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        open: false,
        note: null,
        attributes: {},
        original_total_price: 0,
        total_price: 0,
        total_discount: 0,
        total_weight: 0.0,
        item_count: 0,
        products: [],
        requires_shipping: false,
        currency: 'EUR',
        items_subtotal_price: 0,
        cart_level_discount_applications: [],
        cartApiResponseDefault : {
            result : {},
            show : false,
            timeout : 5000,
        },
        cartApiResponse : {
            result : {},
            show : false,
            timeout : 5000,
        },

        // deprecated:
        total: {
            items: 0,
            price: 0,
            weight: 0,
            discount: 0,
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('(minicart.js) toggleMiniCart called');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
        },

        /**
         * Get the cart data.
         */
        getCart() {
            this.initAbortController()
            fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
            .then(response => response.json())
            .then(data => {
                this.resetAbortController();

                this.total.items = data.item_count;

                this.products = data.items.map((item) => {
                    item.title = this.htmlspecialchars_decode(item.title)
                    return item
                })

                this.total.price = data.total_price;
                this.total.weight = data.total_weight;
                this.total.discount = data.total_discount;

                this.$dispatch('carttotalitems', data.item_count);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        },

        /**
         * @param id
         * @param quantity
         */
        increaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) + 1);
        },

        /**
         * @param id
         * @param quantity
         */
        decreaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param id
         * @param quantity
         */
        updateCartItemQuantity(id, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): id, quantity: ', id, quantity);
            this.products.filter((product)  => {
                if(parseInt(product.id) === parseInt(id)) {
                    product.quantity = quantity
                }
            })
            fetch(window.Shopify.routes.root + 'cart/change.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: `${id}`,
                    quantity: quantity,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated');
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            console.log("dispatched showCartMessage", event)
            if(event?.detail?.status) {
                this.cartApiResponse.result = event.detail ?? this.cartApiResponseDefault.result;
                this.cartApiResponse.show = true
                setTimeout(() =>  this.cartApiResponse =  this.cartApiResponseDefault, this.cartApiResponse.timeout ?? 5000)
            }
        },
    }))
});


</script>
<div li-element="mini-cart" x-cloak="" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage"><div class="cart-header-wrapper"><div class="h4">Cart</div><a fs-mirrorclick-element="target" fs-scrolldisable-element="enable" data-lenis-start="" data-w-id="e974dcc2-b9fe-ec6a-5bd3-677b25ad64ab" href="#" class="cart-close-trigger w-inline-block"><div class="close-icon-embed w-embed"><svg width="100%" height="100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_719_4)"><path d="M12.6668 4.27331L11.7268 3.33331L8.00016 7.05998L4.2735 3.33331L3.3335 4.27331L7.06016 7.99998L3.3335 11.7266L4.2735 12.6666L8.00016 8.93998L11.7268 12.6666L12.6668 11.7266L8.94016 7.99998L12.6668 4.27331Z" fill="currentColor" style="fill:currentColor"></path></g><defs><clippath id="clip0_719_4"><rect width="16" height="16" fill="currentColor"></rect></clippath></defs></svg></div></a></div><div class="spacing-32px"></div><div class="free-shipping-checker"><div class="shipping-progress-wrapper"><div class="shipping-progress-bar"></div></div><div class="spacing-12px"></div><div class="shipping-text-wrapper"><div class="shipping-text"><div class="free-shipping-text">You</div><div class="free-shipping-text">are </div><div free-shipping-diff="" class="free-shipping-text remaining-amount">$100.00</div><div class="free-shipping-text">away<span class="text-bold"></span></div><div class="free-shipping-text">from</div><div class="free-shipping-text"><span class="text-bold">FREE SHIPPING</span></div></div><div class="shipping-text hide"><div class="free-shipping-text">Amazing!</div><div class="free-shipping-text">You</div><div class="free-shipping-text">have</div><div class="free-shipping-text">unlocked<span class="text-bold"></span></div><div class="free-shipping-text"><span class="text-bold">FREE SHIPPING</span></div></div></div></div><div li-element="mini-cart-container" class="div-block-36" :class="open || 'mini-cart-closed'">{% if cart.item_count > 0 %}    <div li-if="cart.item_count > 0" class="w-form">
    {% form 'cart', cart, class: 'cart_grid-wrapper' %}
<div class="cart_table outline-solid-1">{% for item in cart.items %}    <div li-for="item in cart.items" class="cart_grid cart_product">
                                    
                            <div id="w-node-_1e27c2dc-a798-df67-57f6-812082606fc0-25ad64a5" class="display-inlineflex"><a href="{{ item.url }}" li-object:href="item.url" id="w-node-_1e27c2dc-a798-df67-57f6-812082606fc1-25ad64a5" class="link-block-2 w-inline-block"><img li-object:src="item.image |  img_url: 'small'" src="{{ item.image |  img_url: 'small' }}" alt="" class="cart_product-image">
</a><div class="cart_info-order"><a href="{{ item.url }}" li-object:href="item.url" li-object="item.title" class="cart_product-name">{{ item.title }}</a><div id="w-node-_1e27c2dc-a798-df67-57f6-812082606fcb-25ad64a5" class="cart_table-item anzahl"><div class="cart_quantity-wrapper"><div>Qty</div><input class="cart_quantity w-input" li-object:value="item.quantity" maxlength="256" name="updates[]-2" data-name="Updates 2" placeholder="1" type="number" id="updates[]-2" required="" value="{{ item.quantity }}">
</div><a href="{{ item.url_to_remove }}" li-object:href="item.url_to_remove" class="text-size-tiny text-style-link text-align-center w-inline-block"><div li-object:url="item.url_to_remove" class="cart_remove-product" url="{{ item.url_to_remove }}">Remove</div></a><a li-element="mini-cart-item-increase" href="#" class="quantity-increaser w-inline-block" :productprop="product" @click="$dispatch('increasecartitem', { product: product.id, quantity: product.quantity, action: 'increase' })"></a></div><div class="hide"><p item="price" class="cart_price">$13</p><p item="original-price" class="cart_price away">$18</p></div></div></div>
                            
                            <div id="w-node-_1e27c2dc-a798-df67-57f6-812082606fd3-25ad64a5" class="cart_price-info"><div li-js-price="price" li-object="product.price" id="w-node-_1e27c2dc-a798-df67-57f6-812082606fd4-25ad64a5" class="cart-item-total" x-text="moneyFormat(price)">$239</div>{% if item.original_line_price > item.final_line_price %}    <div li-if="item.original_line_price > item.final_line_price" id="w-node-_1e27c2dc-a798-df67-57f6-812082606fd6-25ad64a5">
    <div li-object="item.original_line_price | money" id="w-node-_1e27c2dc-a798-df67-57f6-812082606fd7-25ad64a5" class="cart-item-prediscount-price-2">{{ item.original_line_price | money }}</div>    </div>
{% endif %}<div li-js-price="product.price" id="w-node-a6f4293e-f358-d6c2-0dcf-1110af84399e-25ad64a5" class="cart-item-total" x-text="moneyFormat(product.price)">$239</div></div>
                            
                        </div>
{% endfor %}</div><div class="cart-content"><div class="editors-picks_wrapper"><div class="label-large">OUR Recommendations</div><div class="spacing-8px"></div><div class="editors-picks_products-wrapper"><div class="collection-item">{% for item in recommendations.products %}    <div li-for="item in recommendations.products" class="cart_grid cart_product grid">
                                    
                            <div id="w-node-_869320cc-278c-6cd4-4074-a89f9479d35d-25ad64a5" class="display-inlineflex"><a href="{{ item.url }}" li-object:href="item.url" id="w-node-_869320cc-278c-6cd4-4074-a89f9479d35e-25ad64a5" class="link-block-2 w-inline-block"><img li-object:src="item.image |  img_url: 'small'" src="{{ item.image |  img_url: 'small' }}" alt="" class="cart_product-image">
</a><div class="cart_info-order"><a href="{{ item.url }}" li-object:href="item.url" li-object="item.title" class="cart_product-name">{{ item.title }}</a><div id="w-node-_869320cc-278c-6cd4-4074-a89f9479d363-25ad64a5" class="cart_table-item anzahl"><a href="{{ item.url_to_remove }}" li-object:href="item.url_to_remove" class="text-size-tiny text-style-link text-align-center w-inline-block"><div class="div-block-37"><div li-object="product.description" wized="cart_editor_item_price" class="text-base max-width">{{ product.description }}</div><div wized="cart_editor_item_price" class="text-base">...</div></div></a></div><div class="hide"><p item="price" class="cart_price">$13</p><p item="original-price" class="cart_price away">$18</p></div></div><template x-if="selected_or_first_available_variant.available == true">
            <div li-js-if="selected_or_first_available_variant.available == true" class="product-header_quantity">
        <div class="div-block-35"><div sf-add-to-cart="1" class="editors-picks_add-product"><div class="editors-picks_add-product-icon"><div li-element="add-to-cart" class="editors-picks_icon-embed w-embed" @click="addToCart()" :disabled="!addToCartButton"><button style="background: none; border: none; padding: 0; cursor: pointer;"><svg width="100%" height="100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6668 8.66667H8.66683V12.6667H7.3335V8.66667H3.3335V7.33333H7.3335V3.33333H8.66683V7.33333H12.6668V8.66667Z" fill="#1C214E"></path></svg></button></div></div></div></div><div class="added">🎉 Added to Cart!</div>        </div>
    </template>
</div>
                            
                        </div>
{% endfor %}</div></div></div></div><div id="w-node-_1e27c2dc-a798-df67-57f6-812082606fd9-25ad64a5" class="cart_wrapper-right"><div id="w-node-_1e27c2dc-a798-df67-57f6-812082606fda-25ad64a5" class="cart_table outline-solid-1"><div class="cart_content"><div class="cart_wrapper"><div class="cart-total-row"><div class="text-lg">Total</div>{% if cart.total_discounts > 0 %}    <div li-if="cart.total_discounts > 0">
    {% if cart.total_discounts > 0 %}    <div li-if="cart.total_discounts > 0">
    <div li-object="cart.original_total_price | money" class="text-lg">{{ cart.original_total_price | money }}</div>    </div>
{% endif %}    </div>
{% endif %}</div>{% if cart.total_discounts > 0 %}    <div li-if="cart.total_discounts > 0" class="cart_details-wrapper">
    <div class="text-size-regular">Discount</div><div li-object="cart.total_discount | money" class="text-base">{{ cart.total_discount | money }}</div>    </div>
{% endif %}</div><div class="cart_details-wrapper"><div class="text-lg">Subtotal</div><div class="cart_details-price"><div li-object="cart.total_price | money" class="text-lg">{{ cart.total_price | money }}</div></div></div><div class="cart_action"><input type="submit" data-wait="Please wait..." class="c-btn is-checkout w-button" value="Checkout" name="checkout">
<input type="submit" data-wait="Please wait..." class="c-btn hide w-button" value="Update cart">
<div class="cart_subtotal-shipping-wrapper"><div class="text-base">Shipping</div><div class="text-base">calculated at checkout</div></div></div></div></div><div class="cart_table outline-solid-1 hide"><div class="cart_grid is-header w-hidden-tiny"><div id="w-node-_1e27c2dc-a798-df67-57f6-812082606ff6-25ad64a5" class="cart_table-header"><p class="text-size-regular">Comment</p></div></div><div class="cart_content no-stroke"><div class="form_field-wrapper"><textarea id="CartNote" name="note" maxlength="5000" data-name="field" placeholder="Comment" class="form-input is-text-area w-input"></textarea></div></div></div></div>{% endform %}
{% if cart.item_count == 0 %}    <div li-if="cart.item_count == 0" class="cart_empty outline-solid-1">
    <div class="h6">Your cart is empty!</div><div>Lets fix that</div><a href="index.html" class="c-btn w-button">Shop All Products</a>    </div>
{% endif %}<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>    </div>
{% endif %}</div></div> {% schema %} {"tag":"div","name":"cart_popup","class":"cart-wrapper","presets":[{"name":"cart_popup","category":"Liquify"}]} {% endschema %}